html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 14;
}

.container {
  padding: 0px 0px;
}

.nav { 
  background: transparent;
  width: 100%;
  position: fixed;
}

.nav ul {
  text-align: right;
  list-style: none;
  padding: 0;
}

.nav ul li {  
  color: red;
  display: inline-flex; 
  font-size: 20;
  padding: 0px 5% 0px;
}

.nav ul li:hover {
  cursor: pointer; 
  transition: background .5s;
  font-weight: 900;  
}

.footer { 
  background: beige;
  padding: 20px 20px;
}

.footer p { 
  color: black;
  font-size: 14px; 
  text-align: center;
}

.jumbotron {
  background-size: cover;
  height: 800px; 
}

.jumbotron.goldengate {
  background-image: url('images/goldengate.jpg');
}
.jumbotron.italy {
  background-image: url('images/italy.jpg');
}
.jumbotron.space {
  background-image: url('images/space.jpg');
}
.jumbotron.pfieffer {
  background-image: url('images/pfieffer.jpg');
}
.jumbotron.colors {
  background-image: url('images/colors.jpg');
}

.jumbotron h1 {
  color: #fff;
  text-align: left; 
}

.jumbotron p {
  color: #fff; 
  text-align: right; 
}

#goldengate {
  background: url('images/goldengate.jpg');
}

#italy {
  background: url('space/goldengate.jpg');
}
#colors {
  background: url('space/goldengate.jpg');
}
#pfieffer {
  background: url('space/goldengate.jpg');
}
