html, body {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.title {
  padding: 10% 5% 1%;
  margin: 0px;
  text-align: left;
  font-size: x-large;
}

.subtitle {
  padding: 0% 5%;
  margin: 0px;
  text-align: left;
  font-size: large;
  color: #fff; 
}

.nav { 
  background: transparent;
  width: 100%;
  position: fixed;
}

.nav ul {
  text-align: right;
  list-style: none;
  padding: 0;
}

.nav ul li {  
  display: inline-flex; 
  padding: 0px 2% 0px;
}

.nav ul li a {  
  color: white;
  font-size: x-large;
  text-decoration: none
}

.nav ul li:hover {
  cursor: pointer; 
  font-weight: bold;  
}

.footer { 
  background-color: beige;
  padding: 20px 20px;
  height: 50px;
}

.footer p { 
  color: black;
  font-size: 14px; 
  text-align: center;
}

.jumbotron {
  background-size: cover;
  height: 100vh;
}

.jumbotron.goldengate {
  background-image: url('images/goldengate.jpg');
}
.jumbotron.italy {
  background-image: url('images/italy.jpg');
}
.jumbotron.space {
  background-image: url('images/space.jpg');
}
.jumbotron.pfieffer {
  background-image: url('images/pfieffer.jpg');
}

h1, h2, h3, h4, h5, h6 {
 font-weight: 500;
 color: #fff;
 margin: 0px;
}

.main {
  padding: 10px;
}

.main::after {
  content: "";
  display: table;
  clear: both;
}

.main h1{
  color: black;
}

.blog-item {
  float: left;
  width: 50%;
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 20px;
}

.blog-item img {
  height: 200px;
  width: 200px;
}

.blog-item h2{
  color: black;
}

.blog-item a {
  font-size: small;
}

.blog-item p {
  font-size: small;
}


