html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gill Sans', sans-serif;
  font-weight: 2;
}

.container {
  padding: 10px 10px;
}

.nav { 
  background: beige;
  width: 100%;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav ul li {
  color: red;
  display: inline-block; 
  list-style: none;
  padding: 10px 10px;
}

.nav ul li:hover {
  background: #117bff;
  cursor: pointer; 
  transition: background .5s;  
}

.footer { 
  background: beige;
  padding: 20px 20px;
}

.footer p { 
  color: black;
  font-size: 14px; 
  text-align: center;
}

.jumbotron {
  background: url(/images/dog.jpg);
  background-size: cover;
  height: 600px; 
}

.jumbotron .container {
  position: relative;
  top: 220px;
}

.jumbotron h2 {
  color: #fff;
  text-align: left; 
}

.jumbotron p {
  color: #fff; 
  text-align: right; 
}